
.container{
    max-width:50%;
    margin:0 auto;
    border: 1px grey;
    border-radius:20px;
    background-color:white;
    padding:60px;
    margin-top:30px;
    box-shadow: 25px 25px 25px #7d6d55;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.city{
    display:flex;
    justify-content:space-between;
    margin-top:10px;
    padding:10px 0;
    border-bottom:1px dashed #59a0ac;
    
}

.city :last-child{
    border:none;
}
.date{
    opacity:0.7;
}
.cityDate{
    margin-top:0;
    padding:0 0 0 0;
    color:#626c76;
    
}

.time{
    font-size:34px;
    font-weight:bold;
    padding-top:0px;
    color:#709199;
    
}

.time small{
    font-size:18px;
    vertical-align:middle;
    line-height:36px;
}
.selectStyleElement
{
background-color:#bdcfcf;
font-style:italic;

}
.optionStyle{
background-color:white;
}


select{
    display:block;
    width:100%;
    border-radius:4px;
    padding:10px;
}

h1{
    text-align:center;
    font-family:Arial, Helvetica, sans-serif;
    font-size:40px;
    color:#556d71;
}
h1 a{
   text-decoration:none; 
   color: #556d71;
}

h2{
    margin-top:0;
    color:#626c76;
}

footer{
    max-width:50%;
    margin:0 auto;
    margin-top:20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size:16px;
    font-style:italic;
}
